:root {
    --blue: #7aa2f7;
    --red: #f7768e;
    --dark: #1e1e2e;
    --black: #11111b;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --lavender: #b4befe;
    --white: #cdd6f4;
    --orange: #fab387;
    --shadow: #1e1e2eb3;
}

@font-face {font-family: S; src: url('Sauce Code Pro Nerd Font Complete.ttf');}

@media (orientation: portrait) {
    body {
        font-size: 32px;
    }

    #message-input {
        font-size: 28px;
    }

    #message-send-button {
        font-size: 28px;
    }
}

body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: S;
    font-size: 16px;
    margin: 5px;
    margin-bottom: 0px;
}

.message {
    display: flex;
    flex-direction: column;
    color: var(--white);
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

.message:hover {
    background: var(--shadow);
}

.message-author {
    color: var(--red);
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: -5px;
}

.message-content {
    width: 100%;
    word-wrap: break-word;
}

#messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 51px);
}

#message-form {
    display: flex;
    flex-direction: row;
    position: fixed;
    margin: 10px;
    height: 30px;
    bottom: 0px;
    left: 0px;
    border: 3px solid var(--red);
    border-radius: 10px;
}

#message-input {
    height: 30px;
    width: calc(100vw - 85px);
    font-family: S;
    font-size: 14px;
    background: var(--shadow);
    color: var(--white);
    outline: none;
    border-width: 0px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#message-send-button {
    background: var(--red);
    color: var(--black);
    width: 60px;
    height: 30px;
    border-width: 0px;
    font-family: S;
    font-weight: bold;
    font-size: 14px;
}

#message-send-button:hover {
    background: var(--white);
}

textarea:focus, input:focus{
    outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--red);
}

img {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
